form {
    display: inline-block;
    width: 100%;

}

form > .form-row {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

form > .form-row:first-of-type{
    margin-top: 0%;
}

form > .form-row > label{
    display: inline-block;
    width: 100%;
    font-size: 17px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #D1D1D1;
}

form > .form-row > input{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    border:none;
    border-bottom: 1px solid #ccc;
}

form > .form-row > button {
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    background-color: #442CA0;
    color: #fff;
    border: none;
    background: rgb(9,1,144);
background: linear-gradient(90deg, rgba(9,1,144,1) -10%, rgba(0,34,216,1) 0%, rgba(0,61,255,1) 100%);

    
}

form > .form-row > span{
    display: inline-block;
    line-height: 26px;
    margin-left: 5px;

}

form > .form-row > a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #05B7D9;
}
