body{
    background-color: #05B7D9;
    
}
  
.bottomn-text > a {
    color:#fff
}
.bottomn-text {

    position: absolute;
    bottom: 10px;
    left: 40px;
    right: 40px;
}

.background{
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url(../img/fonas.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(15px);
}

.container {
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.leftColumn{
    width: 40%;
    background-color: #442CA0;
    color: #fff;
    padding: 40px;
    padding-bottom: 20px;
    background-image: url(../img/fonas.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 30px;
    bottom: 30px;

}

.iksas{
    display: inline-block;
    top: 0;
    right: 0;
    margin: 20px;
    position: absolute;

}



.rightColumn{
    position: relative;
    width: 60%;
    float: right;
    background-color: #fff;
    padding: 60px;
}