body{
    background-color: #05B7D9;

}
.bottomn-text > a {
    color:#fff
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 150px;
    margin-left: calc(50% - 400px);
}
.leftColumn{
    width: 40%;
    float: left;
    background-color: #442CA0;
    color: #fff;
    padding: 40px;
    padding-bottom: 20px;

}





.rightColumn{
    width: 60%;
    float:left;
    background-color: #fff;
    padding: 60px;
}